@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&family=Karla:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

.container {
  overflow: hidden;
}

header {
  background: #34a8eb;
  width: 100%;
  padding: 10px;
  height: 50px;
}

main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  background: #e9eef7;
}

aside {
  background: white;
  align-self: stretch;
  width: 150px !important;
  box-shadow: 9px 2px 17px -6px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 9px 2px 17px -6px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 9px 2px 17px -6px rgba(0, 0, 0, 0.49);
  min-width: 150px;
  max-width: 150px !important;
}

article {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

footer {
  background: #34a8eb;
  padding: 18px;
}

footer p {
  text-align: right;
}

#content {
  padding: 16px;
  width: 86%;
  margin: 5vh auto;
  box-shadow: -1px 0px 36px -5px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: -1px 0px 36px -5px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -1px 0px 36px -5px rgba(0, 0, 0, 0.43);
  background: white;
}

#content h1 {
  margin: 10px 0 20px 0;
}

footer p a {
  color: white;
  text-decoration: none;
  margin: 0px 10px;
}

ion-icon {
  top: 2px;
  position: relative;
}

header h1 {
  font-family: "Berkshire Swash", cursive;
  font-size: 28px;
  color: white;
}

aside a {
  text-decoration: none;
}

aside ul li {
  padding: 16px 12px;
  color: black;
}

aside ul li:hover {
  background: #e4d9d9;
  border-left: 3px solid #3880ff;
}
aside ul li:focus {
  background: #e4d9d9;
  border-left: 3px solid #3880ff;
}

aside ul li:active {
  background: #e4d9d9;
  border-left: 3px solid #3880ff;
}

aside ul li a ion-icon {
  margin-right: 8px;
}

aside ul li a {
  color: black;
}

.detail {
  display: flex;
}

.info {
  margin-left: 15px;
}

.skill ul li {
  position: relative;
  left: 6vh;
}
li {
}

.skill {
  margin-top: 10px;
}

.info h2 {
  margin-bottom: 10px;
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 5px;
}

form {
  display: block;
  width: 100%;
}

span.form-helper {
  display: block;
  font-size: 12px;
  color: #5f5e5e;
  margin-top: 2px;
}

.form-control {
  margin: 10px 0;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 5px;
}

.form-control textarea {
  display: block;
  width: 100%;
}

.submit {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

.submit button {
  background: #3880ff;
  padding: 5px 10px;
  border: none;
  color: white;
  font-weight: bold;
}
hr {
  margin: 10px 0 20px 0;
  border: 1px solid #e6dede;
}
